<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>

    <% if (locals.errors) { %>
    <ul style="color: red">
      <% errors.forEach(err => { %>
      <li><%= err.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <form action="/auth/login" method="POST">
      <input type="text" name="username" placeholder="Username" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
    <a href="/auth/signup">Don't have an account? Sign Up</a>
  </body>
</html>
