<footer class="border-t border-slate-200 bg-slate-50 mt-auto">
  <div
    class="max-w-6xl mx-auto px-4 py-4 text-center text-sm text-slate-700 flex flex-col items-center gap-2 sm:flex-row sm:justify-between"
  >
    <div>
      &copy;
      <%= new Date().getFullYear() %>
      File Uploader. All rights reserved.
    </div>
    <div class="flex items-center justify-center gap-4 text-slate-500">
      <a href="https://www.linkedin.com/in/imanabshar" target="_blank">
        <i class="fa-brands fa-linkedin text-lg"></i>
      </a>
      <a href="https://github.com/imanabshar" target="_blank">
        <i class="fa-brands fa-github text-lg"></i>
      </a>
    </div>
  </div>
</footer>
